orchestration/kestra/flow_backfill.yaml
id: sleeplens_backfill
namespace: com.sleeplens
inputs:
  - id: start_date
    type: STRING
    defaults: "2026-01-01"
  - id: end_date
    type: STRING
    defaults: "2026-01-07"

tasks:
  - id: date_range
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
    outputFiles:
      - dates.json
    script: |
      from datetime import datetime, timedelta
      import json
      
      start = datetime.strptime("{{ inputs.start_date }}", "%Y-%m-%d")
      end = datetime.strptime("{{ inputs.end_date }}", "%Y-%m-%d")
      
      dates = []
      curr = start
      while curr <= end:
          dates.append(curr.strftime("%Y-%m-%d"))
          curr += timedelta(days=1)
      
      with open("dates.json", "w") as f:
          json.dump(dates, f)

  - id: run_daily_pipeline
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ read(outputs.date_range.outputFiles['dates.json']) }}" 
    concurrencyLimit: 2
    tasks:
      - id: trigger_pipeline
        type: io.kestra.plugin.core.flow.Subflow
        flowId: sleeplens_pipeline
        namespace: com.sleeplens
        inputs:
          date: "{{ taskrun.value }}"
        wait: true
        transmitFailed: true
